﻿@model List<GeoMapping.Models.ViewModels.TrackingViewModel>
@{
    ViewData["Title"] = "Index";
}

<h3>Agents Tracking Monitor</h3>
<hr />

<div class="panel">
    <div class="row" id="mapOption">
        <div class="col-lg-3">
            <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" name="optradio" value="all" checked>Show All Tracking Data
                </label>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" name="optradio" value="byAgent">Show Latest Location For Agent
                </label>
                <select class="form-control" asp-items="ViewBag.AgentId" id="ddlAgentId" disabled></select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" name="optradio" value="byAgentAll">Show All Locations For Agent
                </label>
                <select class="form-control" asp-items="ViewBag.AgentId" id="ddlAgentIdAll" disabled></select>
            </div>
        </div>
        <div class="col-lg-1">
            <div class="form-group">
                <label> </label>
                <button type="button" style="margin:5px;" class="btn btn-primary form-control" id="btnApply">Apply</button>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div id="map" style="width:100%;height:60vh"></div>
</div>
<script>
	var locations =  @Html.Raw(Json.Serialize(Model));
	console.log(locations);
</script>

<script src="~/js/drawTracking.js"></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnh4qB0Ljx9umIc94sQTqQCYPO-vJT0k8&callback=initMap">
</script>

<script src="~/js/ENUMS.js"></script>
<script>
    $(function () {
        $('input[type=radio][name=optradio]').change(function () {
            if (this.value == 'byAgent') {
                $('#ddlAgentId').attr('disabled', false);
                $('#ddlAgentIdAll').attr('disabled', true);
            }
            else if (this.value == 'byAgentAll') {
                $('#ddlAgentId').attr('disabled', true);
                $('#ddlAgentIdAll').attr('disabled', false);
            }        
            else {
                $('#ddlAgentId').attr('disabled', true);
                $('#ddlAgentIdAll').attr('disabled', true);
            }
        });

        $("#btnApply").click(function () {
            var selectedOption = $('#mapOption input:radio:checked').val();
            switch (selectedOption) {
                case "all":
                    showAll();
                    break;
                case "byAgent":
                    var agentVal = $("#ddlAgentId option:selected").val();
                    if (agentVal !== "0") {
                        showLatestLocation(agentVal);
                    }
                    break;
                case "byAgentAll":
                    var agentAllVal = $("#ddlAgentIdAll option:selected").val();
                    if (agentAllVal !== "0") {
                        showAllLocationsForAgent(agentAllVal);
                    }
                    break;
            }
        });

        function showLatestLocation(agentId){
            $.ajax({
                url: ENUMS.BaseURL + "Tracks/GetLatestByAgentId?agentId=" + agentId,
                type: "GET",
                success: function (result) {
                    console.log(result);
                    locations = result;
                    initMap();
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function showAll() {
            locations =  @Html.Raw(Json.Serialize(Model));
            initMap();
        }

        function showAllLocationsForAgent(agentId) {
            $.ajax({
                url: ENUMS.BaseURL + "Tracks/GetAllByAgentId?agentId=" + agentId,
                type: "GET",
                success: function (result) {
                    console.log(result);
                    locations = result;
                    initMap();
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    });
</script>