﻿@model IEnumerable<GeoMapping.Models.Brand>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
<p>
    <a asp-action="Create" style="display:none;" class="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <span style="display:none;" class="Edit">
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>

                    </span>
                    <span style="display:none;" class="Details">
                        |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </span>
                    <span style="display:none;" class="Delete">
                        |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/ENUMS.js"></script>
<script src="~/js/RolePrivileges.js"></script>
<script>
    renderActions("Brands");
</script>
