﻿@{
    ViewData["Title"] = "Home Page";
}
@*<link href="~/css/sb-admin-2.min.css" rel="stylesheet" />*@
<link href="~/lib/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/lib/datatables/media/css/buttons.dataTables.min.css" rel="stylesheet" />
<link href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

<script src="~/js/ENUMS.js"></script>
<script src="~/lib/moment/min/moment.min.js"></script>
<script src="~/lib/bootstrap/js/transition.js"></script>
<script src="~/lib/bootstrap/js/collapse.js"></script>
<script src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

<script src="~/lib/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="~/lib/datatables/media/js/dataTables.buttons.min.js"></script>
<script src="~/lib/datatables/media/js/buttons.flash.min.js"></script>
<script src="~/lib/datatables/media/js/jszip.min.js"></script>
<script src="~/lib/datatables/media/js/pdfmake.min.js"></script>
<script src="~/lib/datatables/media/js/vfs_fonts.js"></script>
<script src="~/lib/datatables/media/js/buttons.html5.min.js"></script>
<script src="~/lib/datatables/media/js/buttons.print.min.js"></script>




<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Dashboard</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 text-left">
                        <h2>Areas</h2>
                        <h3 id="areasCount">...</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 text-left">
                        <h2>Blocks</h2>
                        <h3 id="blocksCount">...</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 text-left">
                        <h2>Plots</h2>
                        <h3 id="plotsCount">...</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 text-left">
                        <h2>Places</h2>
                        <h3 id="placesCount">...</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#filterPlaces">Filter Places</a></li>
    <li><a data-toggle="tab" href="#filterSurveys">Filter Survey Histories</a></li>
    <li><a data-toggle="tab" href="#marketingReports">Marketing Reports</a></li>
</ul>

<div class="tab-content">
    <div id="filterPlaces" class="tab-pane fade  in active">
        <h2>Filter Places</h2>
        <div class="panel">
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" id="txtName">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Area</label>
                        <select class="form-control" id="ddlArea"></select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Block</label>
                        <select class="form-control" id="ddlBlock"></select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Plot</label>
                        <select class="form-control" id="ddlPlot"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Status</label>
                        <select class="form-control" id="ddlStatus"></select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>PACI Number</label>
                        <input class="form-control" id="txtPACI">
                    </div>
                </div>
                <div class="col-lg-1">
                    <div class="form-group">
                        <label> </label>
                        <button type="button" style="margin:5px;" class="btn btn-primary form-control" id="btnFilterPlaces">Filter</button>
                    </div>
                </div>
                <div class="col-lg-1">
                    <div class="form-group">
                        <label> </label>
                        <button type="button" style="margin:5px; " class="btn btn-default form-control" id="btnResetPlaces">Reset</button>
                    </div>
                </div>
            </div>
        </div>
        <table id="tblPlaces" class="display">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Area Name</th>
                    <th>Block Name</th>
                    <th>Plot Name</th>
                    <th>PACI Number</th>
                    <th>Status</th>
                    <th>Segment</th>
                    <th>Subsegment</th>
                </tr>
            </thead>
        </table>
    </div>

    <div id="filterSurveys" class="tab-pane fade">
        <h2>Filter Survey Histories</h2>

        <div class="panel">
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Place</label>
                        <select class="form-control" id="ddlPlace"></select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Status</label>
                        <select class="form-control" id="ddlStatusSurvey"></select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Created By</label>
                        <select class="form-control" id="ddlUser"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Created Date From:</label>
                        <div class='input-group date' id='dateFrom'>
                            <input type='text' class="form-control" id='dateFromTxt' />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Created Date To:</label>
                        <div class='input-group date' id='dateTo'>
                            <input type='text' class="form-control" id='dateToTxt' />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1">
                    <div class="form-group">
                        <label> </label>
                        <button type="button" style="margin:5px;" class="btn btn-primary form-control" id="btnFilterSurvey">Filter</button>
                    </div>
                </div>
                <div class="col-lg-1">
                    <div class="form-group">
                        <label> </label>
                        <button type="button" style="margin:5px; " class="btn btn-default form-control" id="btnResetSurvey">Reset</button>
                    </div>
                </div>
            </div>
        </div>

        <table id="tblSurvey" class="display">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Place Name</th>
                    <th>Status</th>
                    <th>Created By</th>
                    <th>Created At</th>
                </tr>
            </thead>
        </table>
    </div>

    <div id="marketingReports" class="tab-pane fade">
        <h2>Marketing Reports</h2>
        <div class="panel">
            <div class="row" id="reportOption">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="optradio" value="all">For All Kuawit
                        </label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="optradio" value="areas">For All Areas
                        </label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="optradio" value="blocks">For All Blocks In Area
                        </label>
                        <select class="form-control" id="ddlAreasMarket" disabled></select>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label> </label>
                        <button type="button" style="margin:5px;" class="btn btn-primary form-control" id="btnShowMarketReports">Show Reports</button>
                    </div>
                </div>
            </div>
        </div>
        <h3>Market Size</h3>
        <table id="tblMarketSize" class="display">
            <thead>
                <tr id="headMSizeBlcks">
                    <th>Brand</th>
                </tr>
            </thead>
            <tbody id="bodyMSize"></tbody>
        </table>
        <hr />
        <h3>Market Share</h3>
        <table id="tblMarketShare" class="display">
            <thead>
                <tr id="headMShareBlcks">
                    <th>Brand</th>
                </tr>
            </thead>
            <tbody id="bodyMShare"></tbody>
        </table>
    </div>
</div>


<script>
    $(function () {
        getAreasCount();
        getBlocksCount();
        getPlotsCount();
        getPlacesCount();
        getAreas();
        getStatus();
        var table = $('#tblPlaces').DataTable();
        function getAreasCount() {
            $.ajax({
                url: ENUMS.BaseURL + "Areas/GetCount",
                type: "GET",
                success: function (result) {
                    $("#areasCount").text(result);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
        function getPlotsCount() {
            $.ajax({
                url: ENUMS.BaseURL + "Plots/GetCount",
                type: "GET",
                success: function (result) {
                    $("#plotsCount").text(result);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
        function getBlocksCount() {
            $.ajax({
                url: ENUMS.BaseURL + "Blocks/GetCount",
                type: "GET",
                success: function (result) {
                    $("#blocksCount").text(result);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
        function getPlacesCount() {
            $.ajax({
                url: ENUMS.BaseURL + "Places/GetCount",
                type: "GET",
                success: function (result) {
                    $("#placesCount").text(result);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function getAreas() {
            $("#ddlArea").empty();
            $('#ddlArea').append($("<option/>").val("0").text("Select Area"));
            $.ajax({
                url: ENUMS.BaseURL + "Areas/GetAll",
                type: "GET",
                success: function (result) {
                    for (var i = 0; i < result.length; i++) {
                        $("#ddlArea").append($("<option/>").val(result[i].id).text(result[i].name));
                    }
                    //getBlocksByByArea(result[0].id);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        $("#ddlArea").change(function () {
            getBlocksByByArea($("#ddlArea option:selected").val());
        });

        function getBlocksByByArea(areaId) {
            $("#ddlBlock").empty();
            $('#ddlBlock').append($("<option/>").val("0").text("Select Block"));

            $.ajax({
                url: ENUMS.BaseURL + "Blocks/GetByAreaId/" + areaId,
                type: "GET",
                success: function (result) {
                    if (result && result.length > 0) {
                        for (var i = 0; i < result.length; i++) {
                            $("#ddlBlock").append($("<option/>").val(result[i].id).text(result[i].name));
                        }
                        getPlotsByBlock(result[0].id);
                    }
                }, error: function (err) {
                    console.log("Error Result");
                    console.log(err);
                }
            });
        }

        $("#ddlBlock").change(function () {
            getPlotsByBlock($("#ddlBlock option:selected").val());
        });

        function getPlotsByBlock(blockId) {
            $("#ddlPlot").empty();
            $('#ddlPlot').append($("<option/>").val("0").text("Select Plot"));
            $.ajax({
                url: ENUMS.BaseURL + "Plots/GetByBlockId/" + blockId,
                type: "GET",
                success: function (result) {
                    if (result && result.length > 0) {
                        for (var i = 0; i < result.length; i++) {
                            $("#ddlPlot").append($("<option/>").val(result[i].id).text(result[i].name));
                        }
                    }
                }, error: function (err) {
                    console.log("Error Result");
                    console.log(err);
                }
            });

        }

        function getStatus() {
            $("#ddlStatus").empty();
            $('#ddlStatus').append($("<option/>").val("0").text("Select Status"));
            $.ajax({
                url: ENUMS.BaseURL + "Status/GetAll",
                type: "GET",
                success: function (result) {
                    for (var i = 0; i < result.length; i++) {
                        $("#ddlStatus").append($("<option/>").val(result[i].id).text(result[i].name));
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function constructFiltersObj() {
            var filters = [];

            var nameVal = $("#txtName").val();
            if (nameVal !== "") {
                filters.push({
                    type: "Name",
                    value: nameVal
                });
            }

            var paciVal = $("#txtPACI").val();
            if (paciVal !== "") {
                filters.push({
                    type: "PACINo",
                    value: paciVal
                });
            }

            var areaVal = $("#ddlArea option:selected").val();
            if (areaVal && areaVal !== "0") {
                filters.push({
                    type: "AreaId",
                    value: areaVal
                });
            }

            var blockVal = $("#ddlBlock option:selected").val();
            if (blockVal && blockVal !== "0") {
                filters.push({
                    type: "BlockId",
                    value: blockVal
                });
            }

            var plotVal = $("#ddlPlot option:selected").val();
            if (plotVal && plotVal !== "0") {
                filters.push({
                    type: "PlotId",
                    value: plotVal
                });
            }

            var statusVal = $("#ddlStatus option:selected").val();
            if (statusVal && statusVal !== "0") {
                filters.push({
                    type: "StatusId",
                    value: statusVal
                });
            }
            return filters;
        }

        $("#btnFilterPlaces").click(function () {

            var filters = constructFiltersObj();
            debugger;
            if (filters.length > 0) {
                $.ajax({
                    url: ENUMS.BaseURL + "Places/Filter",
                    type: "POSt",
                    data: JSON.stringify(filters),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        console.log(result);

                        renderTable(result);

                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }
            else {
                renderTable([]);
            }
        });

        function renderTable(dataLst) {
            table.destroy();
            table = $('#tblPlaces').DataTable({
                data: dataLst,
                columns: [
                    { data: 'id' },
                    { data: 'name' },
                    { data: 'areaName' },
                    { data: 'blockName' },
                    { data: 'plotName' },
                    { data: 'paciNo' },
                    { data: 'statusName' },
                    { data: 'segmentName' },
                    { data: 'subsegmentName' }
                ],
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ]
            });
        }

        $("#btnResetPlaces").click(function () {
            renderTable([]);
            $("#ddlArea").val("0");
            $("#ddlBlock").val("0");
            $("#ddlPlot").val("0");
            $("#ddlStatus").val("0");
            $("#txtName").val("");
            $("#txtPACI").val("");
        });


    });
</script>

<script>
    $(function () {
        $('#dateFrom').datetimepicker();
        $('#dateTo').datetimepicker();
        getPlaces();
        getSurveyStatus();
        getUsers();
        var surveyTable = $('#tblSurvey').DataTable();

        function getPlaces() {
            $("#ddlPlace").empty();
            $('#ddlPlace').append($("<option/>").val("0").text("Select Place"));
            $.ajax({
                url: ENUMS.BaseURL + "Places/GetAll",
                type: "GET",
                success: function (result) {
                    for (var i = 0; i < result.length; i++) {
                        $("#ddlPlace").append($("<option/>").val(result[i].id).text(result[i].name));
                    }
                    //getBlocksByByArea(result[0].id);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function getSurveyStatus() {
            $("#ddlStatusSurvey").empty();
            $('#ddlStatusSurvey').append($("<option/>").val("0").text("Select Status"));
            $.ajax({
                url: ENUMS.BaseURL + "Status/GetAll",
                type: "GET",
                success: function (result) {
                    for (var i = 0; i < result.length; i++) {
                        $("#ddlStatusSurvey").append($("<option/>").val(result[i].id).text(result[i].name));
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });

        }

        function getUsers() {
            $("#ddlUser").empty();
            $('#ddlUser').append($("<option/>").val("0").text("Select User"));
            $.ajax({
                url: ENUMS.BaseURL + "Users/GetAll",
                type: "GET",
                success: function (result) {
                    for (var i = 0; i < result.length; i++) {
                        $("#ddlUser").append($("<option/>").val(result[i].id).text(result[i].userName));
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function constructSurveyFiltersObj() {
            var filters = [];

            var dateFromVal = $("#dateFrom").data("DateTimePicker").date();
            var dateToVal = $("#dateTo").data("DateTimePicker").date();
            if (dateFromVal && dateToVal) {
                var dateFromValStr = moment(dateFromVal.toDate()).format("YYYY-MM-DD");
                var dateToValStr = moment(dateToVal.toDate()).add(1, 'd').format("YYYY-MM-DD");
                filters.push({
                    type: "CreatedDate",
                    value: [dateFromValStr, dateToValStr]
                });
            }

            var placeVal = $("#ddlPlace option:selected").val();
            if (placeVal && placeVal !== "0") {
                filters.push({
                    type: "PlaceId",
                    value: placeVal
                });
            }

            var statusSurveyVal = $("#ddlStatusSurvey option:selected").val();
            if (statusSurveyVal && statusSurveyVal !== "0") {
                filters.push({
                    type: "StatusId",
                    value: statusSurveyVal
                });
            }

            var userVal = $("#ddlUser option:selected").val();
            if (userVal && userVal !== "0") {
                filters.push({
                    type: "CreatedUserId",
                    value: userVal
                });
            }
            return filters;
        }

        $("#btnFilterSurvey").click(function () {
            var filters = constructSurveyFiltersObj();
            console.log(filters);
            if (filters.length > 0) {
                $.ajax({
                    url: ENUMS.BaseURL + "Surveys/Filter",
                    type: "POSt",
                    data: JSON.stringify(filters),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        console.log(result);
                        renderTableSurvey(result);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }
            else {
                renderTableSurvey([]);
            }
        });



        function renderTableSurvey(dataLst) {
            surveyTable.destroy();
            surveyTable = $('#tblSurvey').DataTable({
                data: dataLst,
                columns: [
                    { data: 'id' },
                    { data: 'placeName' },
                    { data: 'statusName' },
                    { data: 'userName' },
                    { data: 'createdDate' }
                ],
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ]
            });
        }

        $("#btnResetSurvey").click(function () {
            renderTableSurvey([]);
            $("#ddlPlace").val("0");
            $("#ddlStatusSurvey").val("0");
            $("#ddlUser").val("0");
            //$("#dateFromTxt").val("");
            //$("#dateToTxt").val("");
            $("#dateFrom").data("DateTimePicker").clear();
            $("#dateTo").data("DateTimePicker").clear();
        });
    });
</script>

<script>

    $(function () {
        var basicMarketSizeTableHTML = $("#tblMarketSize").html();
        var basicMarketShareTableHTML = $("#tblMarketShare").html();

        var marketSizeTbl = $("#tblMarketSize").DataTable();
        var marketShareTbl = $("#tblMarketShare").DataTable();
        $('input[type=radio][name=optradio]').change(function () {
            if (this.value == 'blocks') {
                $('#ddlAreasMarket').attr('disabled', false);
            }
            else {
                $('#ddlAreasMarket').attr('disabled', true);
            }
        });
        getMarketAreas();

        function getMarketAreas() {
            $("#ddlAreasMarket").empty();
            $('#ddlAreasMarket').append($("<option/>").val("0").text("Select Area"));
            $.ajax({
                url: ENUMS.BaseURL + "Areas/GetAll",
                type: "GET",
                success: function (result) {
                    for (var i = 0; i < result.length; i++) {
                        $("#ddlAreasMarket").append($("<option/>").val(result[i].id).text(result[i].name));
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        $("#btnShowMarketReports").click(function () {
            var selectedOption = $('#reportOption input:radio:checked').val();
            switch (selectedOption) {
                case "all":
                    getMarketSizeForAllKuwait();
                    break;
                case "areas":
                    getMarketSizeForAllAreas();
                    break;
                case "blocks":
                    var areaVal = $("#ddlAreasMarket option:selected").val();
                    if (areaVal !== "0") {
                        getMarketSizeByArea(areaVal);
                    }
                    break;
            }
        });

        function getMarketSizeByArea(areaId) {
            $.ajax({
                url: ENUMS.BaseURL + "Blocks/GetMarketSize?areaId=" + areaId,
                type: "GET",
                success: function (result) {
                    renderMarketSizeTbl(result);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
        function getMarketSizeForAllAreas() {
            $.ajax({
                url: ENUMS.BaseURL + "Areas/GetMarketSize",
                type: "GET",
                success: function (result) {
                    renderMarketSizeTbl(result);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function getMarketSizeForAllKuwait() {
            $.ajax({
                url: ENUMS.BaseURL + "Places/GetMarketSize",
                type: "GET",
                success: function (result) {
                    renderMarketSizeTbl(result);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function renderMarketSizeTbl(data) {
            marketSizeTbl.destroy();
            $("#tblMarketSize").html(basicMarketSizeTableHTML);

            $.ajax({
                url: ENUMS.BaseURL + "Brands/Getall",
                type: "GET",
                success: function (brandsList) {
                    var propsCount = 0;
                    for (var property in data) {
                        propsCount += 1;
                        $("#headMSizeBlcks").append("<th>" + property + "</th>");
                    }
                    for (var i = 0; i < brandsList.length; i++) {
                        var brandName = brandsList[i].name.replace(' ', '_');
                        $("#bodyMSize").append("<tr id='tr" + brandName + "'></tr>");
                        $("#tr" + brandName).append("<td>" + brandsList[i].name + "</td>");
                        for (prop in data) {
                            var brandSize = data[prop].filter(x => x.key === brandsList[i].name);
                            if (brandSize.length > 0) {
                                $("#tr" + brandName).append("<td>" + brandSize[0].value + "</td>");
                            }
                            else {
                                $("#tr" + brandName).append("<td>" + 0 + "</td>");
                            }
                        }
                    }
                    if (propsCount > 12) {
                        marketSizeTbl = $("#tblMarketSize").DataTable({
                            "scrollX": true,
                            dom: 'Bfrtip',
                            buttons: [
                                'excel', 'pdf', 'print'
                            ]
                        });
                    }
                    else {
                        marketSizeTbl = $("#tblMarketSize").DataTable({
                            dom: 'Bfrtip',
                            buttons: [
                                'excel', 'pdf', 'print'
                            ]
                        });
                    }

                    renderMarketShareTbl(data, brandsList);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function renderMarketShareTbl(blksMarketSize, brandsList) {
            marketShareTbl.destroy();
            $("#tblMarketShare").html(basicMarketShareTableHTML);
            var sizeDict = [];
            var propsCount = 0;

            for (var property in blksMarketSize) {
                propsCount += 1;
                $("#headMShareBlcks").append("<th>" + property + "</th>");
                sizeDict[property] = 0;
                for (var j = 0; j < blksMarketSize[property].length; j++) {
                    sizeDict[property] += blksMarketSize[property][j].value;
                }
            }
            for (var i = 0; i < brandsList.length; i++) {
                var brandName = brandsList[i].name.replace(' ', '_');
                $("#bodyMShare").append("<tr id='tr" + brandName + "share'></tr>");
                $("#tr" + brandName + "share").append("<td>" + brandsList[i].name + "</td>");
                for (prop in blksMarketSize) {
                    var brandSize = blksMarketSize[prop].filter(x => x.key === brandsList[i].name);
                    if (brandSize.length > 0) {
                        var brandShare = (brandSize[0].value / sizeDict[prop]) * 100;
                        $("#tr" + brandName + "share").append("<td>" + brandShare.toFixed(1) + "%</td>");
                    }
                    else {
                        $("#tr" + brandName + "share").append("<td>" + 0 + "%</td>");
                    }
                }
            }
            if (propsCount > 12) {
                marketShareTbl = $("#tblMarketShare").DataTable({
                    "scrollX": true,
                    dom: 'Bfrtip',
                    buttons: [
                        'excel', 'pdf', 'print'
                    ]
                });
            }
            else {
                marketShareTbl = $("#tblMarketShare").DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        'excel', 'pdf', 'print'
                    ]
                });
            }
        }
    });
</script>