﻿
@{
    ViewData["Title"] = "CreateFromPACI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Define Places From PACI</h2>
<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" id="txtName" />
        </div>
        <div class="form-group">
            <label>PACI Number</label>
            <input type="text" class="form-control" id="txtPACI" />
        </div>
        <div class="form-group">
            <label>Governorate</label>
            <select class="form-control" id="ddlGov"></select>
        </div>
        <div class="form-group">
            <label>Area</label>
            <select class="form-control" id="ddlArea"></select>
        </div>
        <div class="form-group">
            <label>Block</label>
            <select class="form-control" id="ddlBlock"></select>
        </div>
        <div class="form-group">
            <label>Street</label>
            <select class="form-control" id="ddlStreet"></select>
        </div>
        <div class="form-group">
            <label class="control-label">Segment</label>
            <select id="SegmentId" class="form-control" asp-items="ViewBag.Segment"></select>
        </div>
        <div class="form-group">
            <label class="control-label">Subsegment</label>
            <select id="SubSegmentId" class="form-control" asp-items="ViewBag.SubSegment"></select>
        </div>
        <div class="form-group">
            <label class="control-label"></label>
            <div id="map" style="width:100vh;height:100vh"></div>
        </div>
        <div class="form-group">
            <label class="text-danger" id="polyError" style="display:none;">Drawn pin must be in selected block boundaries!</label>
            <label class="text-danger" id="notValidError" style="display:none;">Governorate, Area, Block, Street and Pin is required!</label>
        </div>
        <input type="text" id="vertices" hidden name="vertices" value="" />
        <button type="button" class="btn btn-primary form-control" style="width:100px;" id="btnCreate">Create</button>
        <button type="button" class="btn btn-default form-control" style="width:100px;" id="btnclear" onclick="clearMap();">Clear Map</button>

    </div>

</div>
<script src="~/js/enums.js"></script>
<script src="~/js/paciHelper.js"></script>
<script>
    var map;
    var drawingManager;
    var marker;
    var bounds;
    var pointsArray = [];
    var blockPolygon;

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 29, lng: 48 },
            zoom: 9,
            mapTypeId: 'terrain'
        });

        bounds = new google.maps.LatLngBounds();

        drawingManager = new google.maps.drawing.DrawingManager({
            drawingMode: google.maps.drawing.OverlayType.MARKER,
            drawingControl: false,
            markerOptions: {
                icon: "https://maps.gstatic.com/mapfiles/ms2/micons/red-dot.png",
                editable: true
            }
        });
        drawingManager.setMap(map);
        google.maps.event.addListener(drawingManager, 'overlaycomplete', function (event) {
            clearMap();
            marker = {
                lat: event.overlay.position.lat(),
                lng: event.overlay.position.lng()
            };
            pointsArray.push(event.overlay);
            overlayClickListener();
        });
    }

    function clearMap() {
        for (var i = 0; i < pointsArray.length; i++) {
            pointsArray[i].setMap(null);
        }
        pointsArray = [];
        $("#polyError").css("display", "none");
        $('#vertices').val("");

    }

    function overlayClickListener() {
        var markerAsText = JSON.stringify(marker);
        if (checkPlacesIsIn(pointsArray) == true) {
            $('#vertices').val(markerAsText);
        } else {
            $("#polyError").css("display", "block");
        }
    }

    function checkPlacesIsIn(polygonArray) {
        var isAllow = true;
        for (var i = 0; i < polygonArray.length; i++) {
            if (google.maps.geometry.poly.containsLocation(polygonArray[i].position, blockPolygon) == false && isAllow == true) {
                isAllow = false;
            }
        }
        if (isAllow == false) {
            $("#polyError").css("display", "block");
            return false;
        } else {
            $("#polyError").css("display", "none");
            return true;
        }
    }

    $(function () {
        var areaFeature;
        var areaVertices;
        var paciMarker;
        var blockFeature;
        var blockVertices;

        $("#polyError").css("display", "none");

        getGovIds();

        function getGovIds() {
            $.ajax({
                url: "http://amanahadmin-001-site2.itempurl.com/proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/FeatureServer/3/query?where=1%3D1&outFields=*&returnGeometry=false&f=geojson",
                type: "GET",
                success: function (result) {
                    var resultJson = JSON.parse(result);
                    for (var i = 0; i < resultJson.features.length; i++) {
                        $("#ddlGov").append($("<option/>").val(resultJson.features[i].properties.gov_no).text(resultJson.features[i].properties.governorateenglish));
                    }
                    drawSelectedGov(1);
                    getAreasByGovNo(1);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        $("#ddlGov").change(function () {
            var selected = $("#ddlGov option:selected").val();
            drawSelectedGov(selected);
            getAreasByGovNo(selected);
        });

        function drawSelectedGov(selectedVal) {
            map.data.forEach(function (feature) {
                map.data.remove(feature);
            });
            $.ajax({
                url: "http://amanahadmin-001-site2.itempurl.com/proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/FeatureServer/3/query?where=gov_no=" + selectedVal + "&outFields=*&returnGeometry=true&f=geojson",
                type: "GET",
                success: function (result) {
                    var resultJson = JSON.parse(result);
                    var bounds = new google.maps.LatLngBounds();
                    map.data.addListener('addfeature', function (e) {
                        processPoints(e.feature.getGeometry(), bounds.extend, bounds);
                        map.fitBounds(bounds);
                    });
                    map.data.addGeoJson(resultJson);
                    map.data.forEach(function (feature) {
                        selectedGov = feature;
                    });
                    map.data.setStyle({
                        strokeWeight: 1
                    });
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function getAreasByGovNo(govNo) {
            $('#ddlArea').empty();
            $('#ddlArea').append($("<option/>").val("0").text("Select Area"));
            $.ajax({
                url: "http://amanahadmin-001-site2.itempurl.com/proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/FeatureServer/2/query?where=gov_no=" + govNo + "&outFields=*&returnGeometry=false&f=geojson",
                type: "GET",
                success: function (result) {
                    var resultJson = JSON.parse(result);
                    for (var i = 0; i < resultJson.features.length; i++) {
                        $("#ddlArea").append($("<option/>").val(resultJson.features[i].properties.nhood_no).text(resultJson.features[i].properties.neighborhoodenglish));
                    }
                    console.log(resultJson);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        $("#ddlArea").change(function () {
            var selected = $("#ddlArea option:selected").val();
            if (selected.toString() !== "0") {
                drawSelectedArea(selected);
                getBlocksByAreaNo(selected);
            }
        });

        function drawSelectedArea(selectedVal) {
            map.data.forEach(function (feature) {
                map.data.remove(feature);
            });
            $.ajax({
                url: "http://amanahadmin-001-site2.itempurl.com/proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/FeatureServer/2/query?where=nhood_no=" + selectedVal + "&outFields=*&returnGeometry=true&f=geojson",
                type: "GET",
                success: function (result) {
                    var resultJson = JSON.parse(result);
                    var bounds = new google.maps.LatLngBounds();
                    map.data.addListener('addfeature', function (e) {
                        processPoints(e.feature.getGeometry(), bounds.extend, bounds);
                        map.fitBounds(bounds);
                    });
                    map.data.addGeoJson(resultJson);
                    map.data.setStyle({
                        strokeWeight: 1
                    });
                    map.data.forEach(function (feature) {
                        areaFeature = feature;
                    });
                    var area = new google.maps.Polygon({
                        paths: getPathsFromGeojsonPolygon(areaFeature)
                    });
                    var areaPolygon = area.getPath().getArray();
                    areaVertices = getVerticiesFromPolygon(areaPolygon);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function getBlocksByAreaNo(areaNo) {
            $('#ddlBlock').empty();
            $('#ddlBlock').append($("<option/>").val("0").text("Select Block"));
            if (areaNo !== "0") {
                $.ajax({
                    url: "http://amanahadmin-001-site2.itempurl.com/proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/FeatureServer/1/query?where=nhood_no=" + areaNo + "&outFields=*&returnGeometry=false&f=geojson",
                    type: "GET",
                    success: function (result) {
                        var resultJson = JSON.parse(result);
                        for (var i = 0; i < resultJson.features.length; i++) {
                            $("#ddlBlock").append($("<option/>").val(resultJson.features[i].properties.blockid).text(resultJson.features[i].properties.blockenglish));
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }
        }

        $("#ddlBlock").change(function () {
            var selected = $("#ddlBlock option:selected").val();
            if (selected.toString() !== "0") {
                drawSelectedBlock(selected);
                getStreets();
            }
        });

        function drawSelectedBlock(selectedVal) {
            map.data.forEach(function (feature) {
                map.data.remove(feature);
            });
            $.ajax({
                url: "http://amanahadmin-001-site2.itempurl.com/proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/FeatureServer/1/query?where=blockid='" + selectedVal + "'&outFields=*&returnGeometry=true&f=geojson",
                type: "GET",
                success: function (result) {
                    var resultJson = JSON.parse(result);
                    var bounds = new google.maps.LatLngBounds();
                    map.data.addListener('addfeature', function (e) {
                        processPoints(e.feature.getGeometry(), bounds.extend, bounds);
                        map.fitBounds(bounds);
                    });
                    map.data.addGeoJson(resultJson);
                    var selectedBlock;
                    map.data.forEach(function (feature) {
                        selectedBlock = feature;
                    });
                    map.data.setStyle({
                        strokeWeight: 1
                    });
                    blockPolygon = new google.maps.Polygon({
                        paths: getPathsFromGeojsonPolygon(selectedBlock)
                    });
                    blockVertices = getVerticiesFromPolygon(blockPolygon.getPath().getArray());
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function getStreets() {
            $("#ddlStreet").empty();
            $('#ddlStreet').append($("<option/>").val("0").text("Select Street"));
            var selectedAreaVal = $("#ddlArea option:selected").val();
            var selectedBlockVal = $("#ddlBlock option:selected").val();
            if (selectedAreaVal !== "0" && selectedBlockVal !== "0") {
                $.ajax({
                    url: "http://amanahadmin-001-site2.itempurl.com/proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/FeatureServer/0/query?where=nhood_no=" + selectedAreaVal + " and blockenglish='" + $("#ddlBlock option:selected").text() + "' &outFields=*&returnGeometry=false&f=geojson",
                    type: "GET",
                    success: function (result) {
                        var resultJson = JSON.parse(result);
                        console.log(resultJson);
                        for (var i = 0; i < resultJson.features.length; i++) {
                            $("#ddlStreet").append($("<option/>").val(resultJson.features[i].properties.streetenglish).text(resultJson.features[i].properties.streetenglish));
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }
        }

        $("#txtPACI").keyup(function () {
            clearMap();
            var paci = $("#txtPACI").val();
            if (paci.length === 8) {
                getLocationByPACI(paci);
            }
            else {
                enableInputs();
            }
        });

        function getLocationByPACI(paci) {
            var URL = "http://amanahadmin-001-site2.itempurl.com/proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/Hosted/PACIGeocoder/FeatureServer/0/query?where=civilid=" + paci + "&outFields=*&returnGeometry=true&f=geojson";
            console.log(URL);
            $.ajax({
                url: URL,
                type: "GET",
                success: function (result) {
                    var resultJson = JSON.parse(result);
                    if (resultJson.features.length > 0) {
                        var paciInfo = resultJson.features[0];
                        console.log(paciInfo);
                        showPACIInfo(paciInfo);
                    }
                    else {
                        enableInputs();
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function enableInputs() {
            if (paciMarker) {
                paciMarker.setMap(null);
            }
            $("#ddlGov").empty();
            $("#ddlArea").empty();
            $("#ddlBlock").empty();
            $("#ddlStreet").empty();

            $("#ddlGov").prop('disabled', false);
            $("#ddlArea").prop('disabled', false);
            $("#ddlBlock").prop('disabled', false);
            $("#ddlStreet").prop('disabled', false);

            getGovIds();
        }

        function showPACIInfo(paciInfo) {
            $("#ddlGov").empty();
            $("#ddlArea").empty();
            $("#ddlBlock").empty();
            $("#ddlStreet").empty();
            $("#ddlGov").append($("<option/>").val(paciInfo.properties.governorateid).text(paciInfo.properties.governorateenglish));
            $("#ddlArea").append($("<option/>").val(paciInfo.properties.neighborhoodid).text(paciInfo.properties.neighborhoodenglish));
            //getArea(paciInfo);
            getBlock(paciInfo);
            $("#ddlStreet").append($("<option/>").val(paciInfo.properties.streetenglish).text(paciInfo.properties.streetenglish));

            $("#ddlGov").prop('disabled', true);
            $("#ddlArea").prop('disabled', true);
            $("#ddlBlock").prop('disabled', true);
            $("#ddlStreet").prop('disabled', true);
            clearMap();
            drawingManager.setMap(null);
            drawPACI(paciInfo);
        }

        function drawPACI(paciInfo) {
            map.data.forEach(function (feature) {
                map.data.remove(feature);
            });
            if (paciMarker) {
                paciMarker.setMap(null);
            }
            var point = { lat: paciInfo.geometry.coordinates[1], lng: paciInfo.geometry.coordinates[0] };
            paciMarker = new google.maps.Marker({
                position: point
            });
            paciMarker.setMap(map);
            map.setZoom(17);
            map.panTo(paciMarker.position);
            var markerAsText = JSON.stringify({ lat: paciMarker.position.lat(), lng: paciMarker.position.lng()});
            $('#vertices').val(markerAsText);
        }

        function getBlock(paciInfo) {
            var areaNo = paciInfo.properties.neighborhoodid;
            var blockName = paciInfo.properties.blockenglish;
            $.ajax({
                url: "http://amanahadmin-001-site2.itempurl.com/proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/FeatureServer/1/query?where=nhood_no=" + areaNo + " and blockenglish='" + blockName + "'&outFields=*&returnGeometry=true&f=geojson",
                type: "GET",
                success: function (result) {
                    var resultJson = JSON.parse(result);
                    var block = resultJson.features[0];
                    $("#ddlBlock").append($("<option/>").val(block.properties.blockid).text(block.properties.blockenglish));
                    //blockVertices = getVerticiesFromGeojsonPolygon(block);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function getArea(paciInfo) {
            var areaNo = paciInfo.properties.neighborhoodid;

            $.ajax({
                url: "http://amanahadmin-001-site2.itempurl.com/proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/FeatureServer/2/query?where=nhood_no=" + areaNo + "&outFields=*&returnGeometry=true&f=geojson",
                type: "GET",
                success: function (result) {
                    var resultJson = JSON.parse(result);
                    var area = resultJson.features[0];
                    $("#ddlArea").append($("<option/>").val(area.properties.nhood_no).text(area.properties.governorateenglish));
                    areaVertices = getVerticiesFromGeojsonPolygon(area);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        $("#btnCreate").click(function () {
            $("#notValidError").css("display", "none");

            if (isInputsValid()) {
                createPlace();
            }
        });

        function isInputsValid() {
            if ($("#ddlGov").val() === "0" || $("#ddlArea").val() === "0" ||
                $("#ddlBlock").val() === "0" ||
                $('#vertices').val() == '' || $('#txtName').val() == '') {
                $("#notValidError").css("display", "block");
                return false;
            }
            else {
                return true;
            }
        }

        function createPlace() {
            var data = {
                areaNo: $("#ddlArea option:selected").val(),
                govObjectId: $("#ddlGov option:selected").val(),
                areaPolygon: areaVertices,
                areaName: $("#ddlArea option:selected").text(),
                blockName: $("#ddlBlock option:selected").text(),
                paciBlockId: $("#ddlBlock option:selected").val(),
                blockPolygon: blockVertices,
                name: $("#txtName").val(),
                placePoint: $("#vertices").val(),
                paciNo: $("#txtPACI").val(),
                streetName: $("#ddlStreet option:selected").val(),
                segmentId: $("#SegmentId option:selected").val(),
                subsegmentId: $("#SubSegmentId option:selected").val()
            };
            console.log(data);
            $.ajax({
                url: ENUMS.BaseURL + "Places/AddDtailedPlace",
				type: "POST",
				data: data,
				success: function (result) {
                    if (result)
                    {
                        var url = '@Url.Action("Index", "Places")';
                        window.location.href = url;
                    }
                    else
                    {
						console.log("False");
					}
				}, error: function (err) {
					console.log("Error Result");
					console.log(err);
				}
            });
        }
    });
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnh4qB0Ljx9umIc94sQTqQCYPO-vJT0k8&libraries=drawing&callback=initMap"
        async defer></script>

<div>
    <a asp-action="Index">Back to List</a>
</div>