﻿@model GeoMapping.Models.Place
@{
    ViewData["Title"] = "Create";
}
<h2>Create</h2>
<h4>Place</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @*<form asp-action="Create">*@
        <input type="text" name="vertices" value="" id="vertices" hidden />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AreaId" class="control-label"></label>
            <select asp-for="AreaId" class="form-control" asp-items="ViewBag.AreaId" onchange="areaChanged();"></select>
        </div>
        <div class="form-group">
            <label asp-for="BlockId" class="control-label"></label>
            <select asp-for="BlockId" class="form-control" onchange="blockChanged();"></select>
        </div>
        <div class="form-group">
            <label asp-for="PlotId" class="control-label"></label>
            <select asp-for="PlotId" class="form-control" onchange="plotChanged();"></select>
        </div>
        <div class="form-group">
            <label asp-for="StreetName" class="control-label"></label>
            <select asp-for="StreetName" class="form-control"></select>
        </div>
        <div class="form-group">
            <label asp-for="SegmentId" class="control-label"></label>
            <select asp-for="SegmentId" class="form-control" asp-items="ViewBag.Segment"></select>
        </div>
        <div class="form-group">
            <label asp-for="SubSegmentId" class="control-label"></label>
            <select asp-for="SubSegmentId" class="form-control" asp-items="ViewBag.SubSegment"></select>
        </div>
        <div class="form-group">
            <label asp-for="PACINo" class="control-label"></label>
            <select asp-for="PACINo" id="PACINo" class="form-control" />
            <span asp-validation-for="PACINo" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Point" class="control-label"></label>
            <div id="polyError" style="display:none;">
                <p class="text-danger">Plot should be inside the selected area! <input type="button" class="btn btn-danger" onclick="clearMap();" value="Clear Map" style="margin:5px" /></p>
            </div>
            <div id="map" style="width:100vh;height:100vh"></div>
        </div>

        <div class="form-group">
            <input type="button" value="Create" class="btn btn-primary" onclick="createPlace();" />
            <p class="text-danger" id="validationError" style="display:none;">Places name, plot and area are required!</p>
        </div>
        @*</form>*@
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/enums.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnh4qB0Ljx9umIc94sQTqQCYPO-vJT0k8&libraries=geometry,drawing&callback=initMap"
        async defer></script>
<script src="~/js/createPoint.js"></script>

<script>
    var blockLst;
    var areaLst;
    getAreas();
    function getAreas() {
        $.ajax({
            url: ENUMS.BaseURL + "Areas/GetAll",
            type: "GET",
            success: function (result) {
                areaLst = result;
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    areaChanged();
    function areaChanged() {
        $("#BlockId").empty();
        $("#PlotId").empty();
        clearMap();
        $.ajax({
            url: ENUMS.BaseURL + "Blocks/GetByAreaId/" + $("#AreaId option:selected").val(),
            type: "GET",
            success: function (result) {
                if (result && result.length > 0) {
                    console.log(result);
                    if (pointsArray && pointsArray.length > 0) {
                        checkPlacesIsIn(pointsArray);
                    }
                    $.each(result, function (index, item) {
                        $("#BlockId").append(
                            $('<option/>', {
                                value: item.id,
                                text: item.name
                            })
                        );
                    });
                    blockLst = result;
                    blockChanged();
                }
            }, error: function (err) {
                console.log("Error Result");
                console.log(err);
            }
        });
    }
    var selectedBlock;
    function blockChanged() {
        selectedBlock =  $("#BlockId option:selected").val();
		var selectedPlots = $('#PlotId');
		selectedPlots.empty();
			$.ajax({
                url: ENUMS.BaseURL + "Plots/GetByBlockId/" + $("#BlockId option:selected").val(),
				type: "GET",
				success: function (result) {
					if (result && result.length > 0) {
						console.log(result);
						CallPlot(result[0].id);
						if (pointsArray && pointsArray.length > 0) {
							checkPlacesIsIn(pointsArray);
						}
						$.each(result, function (index, item) {
							selectedPlots.append(
								$('<option/>', {
									value: item.id,
									text: item.name
								})
							);
						});
                    }
                    getStreets();
                    getPACIByBlock($("#BlockId option:selected").text(), $("#AreaId option:selected").text())
				}, error: function (err) {
					console.log("Error Result");
					console.log(err);
				}
			});
    }
    var paciLst;

    function getPACIByBlock(selectedBlockName, selectedAreaName) {
        $('#PACINo').empty();
        $('#PACINo').append($("<option/>").val("0").text("Draw New Place"));
        if (selectedAreaName !== "0" && selectedBlockName !== "0") {
            var URL = "http://amanahadmin-001-site2.itempurl.com/proxy.ashx?http://amanahadmin-001-site2.itempurl.com/proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/Hosted/PACIGeocoder/FeatureServer/0/query?where=neighborhoodenglish='" + selectedAreaName + "' and blockenglish = '" + selectedBlockName + "'&outFields=*&returnGeometry=true&f=geojson";
            console.log(URL);
            //debugger;
            $.ajax({
                url: URL,
                type: "GET",
                success: function (result) {
                    var resultJson = JSON.parse(result);
                    paciLst = resultJson;
                    for (var i = 0; i < resultJson.features.length; i++) {
                        $("#PACINo").append($("<option/>").val(resultJson.features[i].properties.civilid).text(resultJson.features[i].properties.civilid));
                    }
                    paciChanged();
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    }
    var paciMarker;
    function paciChanged() {
        var selectedPACI = $("#PACINo option:selected").val();
        if (selectedPACI !== "0") {
            if (paciMarker) {
                paciMarker.setMap(null);
            }
            drawingManager.setMap(null);
            var selectedPACI = $("#PACINo option:selected").val();
            var paci = paciLst.features.filter(feature => feature.properties.civilid == selectedPACI)[0];
            var point = { lat: paci.geometry.coordinates[1], lng: paci.geometry.coordinates[0] };
            paciMarker = new google.maps.Marker({
                position: point
            });
            paciMarker.setMap(map);
            var markerAsText = JSON.stringify([point]);
            if (checkPlacesIsIn(pointsArray) == true) {
                $('#vertices').val(markerAsText);
            } else {
                $("#polyError").css("display", "block");
            }
        }


    }

    $("#PACINo").change(function () {
        paciChanged();
    });

	//CallPlot($("#PlotId option:selected").val());

	function plotChanged() {
		//alert($("#PlotId option:selected").val());
		CallPlot($("#PlotId option:selected").val());

    }

    function getStreets() {
        $("#StreetName").empty();
        var selectedAreaVal = $("#AreaId option:selected").val();
        var selectedBlockVal = $("#BlockId option:selected").val();
        var blck = blockLst.filter(x => x.id == selectedBlockVal)[0];
        var area = areaLst.filter(x => x.id == selectedAreaVal)[0];
        console.log(area);
        console.log(blck);
        if (area.areaNo !== "0" && blck.paciBlockId !== "0") {
            $.ajax({
                url: "http://amanahadmin-001-site2.itempurl.com/proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/FeatureServer/0/query?where=nhood_no=" + area.areaNo + " and blockenglish='"+ blck.name +"' &outFields=*&returnGeometry=false&f=geojson",
                type: "GET",
                success: function (result) {
                    var resultJson = JSON.parse(result);
                    console.log(resultJson);
                    for (var i = 0; i < resultJson.features.length; i++) {
                        $("#StreetName").append($("<option/>").val(resultJson.features[i].properties.streetenglish).text(resultJson.features[i].properties.streetenglish));
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    }

    var allowedPoints = false;

	function createPlace() {
		//debugger;
		$("#polyError").css("display", "none");


		if ($('#vertices').val() != "") {
			allowedPoints = checkPlacesIsIn(pointsArray);
		}

		if (allowedPoints == true) {
			$("#polyError").css("display", "none");
			$("#validationError").css("display", "none");
			if ($('#vertices').val() == '' || $('#Name').val() == '') {
				$("#validationError").css("display", "block");
            }
            else {
				$.ajax({
					url: ENUMS.BaseURL + "Places/AddPlaces",
					type: "POST",
					data: {
						name: $('#Name').val(),
						places: $('#vertices').val(),
						areaId: $("#AreaId option:selected").val(),
                        plotId: $("#PlotId option:selected").val(),
                        blockId: $("#BlockId option:selected").val(),
                        paciNo: $("#PACINo option:selected").val(),
                        streetName: $("#StreetName option:selected").val(),
                        segmentId: $("#SegmentId option:selected").val(),
                        subsegmentId: $("#SubSegmentId option:selected").val()
					},
					success: function (result) {
						if (result) {
							var url = '@Url.Action("Index", "Places")';
							window.location.href = url;
                        }
                        else {
							console.log("False");
						}
                    },
                    error: function (err) {
						console.log("Error Result");
						console.log(err);
					}
				});
			}
        }
        else {
			$("#validationError").css("display", "block");
			$("#polyError").css("display", "block");
		}
	}

	function CallPlot(id) {
		$.ajax({
			url: ENUMS.BaseURL + "Plots/GetById/" + id,
			type: "Get",
			success: function (result) {
				if (result) {
					addToMap(result.polygon);
					//debugger;
					if (pointsArray && pointsArray.length > 0) {
						checkPlacesIsIn(pointsArray);
					}
				} else {
					console.log("False");
				}
			}, error: function (err) {
				console.log("Error Result");
				console.log(err);
			}
		});
    }

</script>

<div>
    <a asp-action="Index">Back to List</a>
</div>