﻿@model List<GeoMapping.Models.ViewModels.PlaceViewModel>
@{
    ViewData["Title"] = "Index";
}
<h3>Places Control</h3>
<hr />
<div class="form-group">
    @using (Html.BeginForm("Create", "Places", FormMethod.Get))
    {
        <input type="submit" value="Define Places" class="btn btn-primary Create" style="display:none;" />
    }
    @using (Html.BeginForm("CreateFromPACI", "Places", FormMethod.Get))
    {
        <input type="submit" value="Define Places From PACI" class="btn btn-primary CreateFromPACI" style="display:none;" />
    }
</div>
<div class="form-group">
    <div id="map" style="width:100%;height:60vh"></div>
</div>
<script>
	var locations =  @Html.Raw(Json.Serialize(Model));
</script>
<script src="~/js/showPoints.js"></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnh4qB0Ljx9umIc94sQTqQCYPO-vJT0k8&callback=initMap">
</script>

<script src="~/js/ENUMS.js"></script>
<script src="~/js/RolePrivileges.js"></script>
<script>
    renderActions("Places");
</script>