﻿@model GeoMapping.Models.Plot
@{
	ViewData["Title"] = "Create";
}
<h3>Define Plot</h3>
<hr />
<div class="row">
	<div class="col-md-4">
		<input type="text" name="vertices" value="" id="vertices" hidden />
		@*<form asp-action="Create">*@
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<label asp-for="Name" class="control-label"></label>
			<input asp-for="Name" class="form-control" id="plotName" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="PACI_NO" class="control-label"></label>
			<input asp-for="PACI_NO" class="form-control" />
			<span asp-validation-for="PACI_NO" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="PAHW_NO" class="control-label"></label>
			<input asp-for="PAHW_NO" class="form-control" />
			<span asp-validation-for="PAHW_NO" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="AreaId" class="control-label"></label>
			<select asp-for="AreaId" class="form-control" asp-items="ViewBag.AreaId"></select>
		</div>
		<div class="form-group">
			<label class="control-label"> Area Polygon</label>
			<div id="map" style="width:100vh;height:100vh"></div>
		</div>
		<div class="form-group">
			<input type="submit" value="Create" class="btn btn-primary" onclick="createPlot();" />
			<p class="text-danger" id="validationError" style="display:none;">Plot name, polygon and area are required!</p>
		</div>
		@*</form>*@
	</div>
</div>
<script src="~/js/enums.js"></script>
<script src="~/js/createPolygon.js"></script>
<script>
	function createPlot() {
		debugger;
		$("#validationError").css("display", "none");
		if ($('#vertices').val()== '' || $('#plotName').val() == '' ) {
			$("#validationError").css("display", "block");
		} else {
			$.ajax({
				url: ENUMS.BaseURL +"Plots/AddPolygon",
				type: "POST",
				data: {
					name: $('#plotName').val(),
					polygon: $('#vertices').val(),
					paciNo: $('#PACI_NO').val(), 
					pahwNo: $('#PAHW_NO').val(),
					areaId: $("#AreaId option:selected").val()
				},
				success: function (result) {
					if (result) {
						var url = '@Url.Action("Index", "Plots")';
						window.location.href = url;
					} else {
						console.log("False");
					}
				}, error: function (err) {
					console.log("Error Result");
					console.log(err);
				}
			});
		}
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnh4qB0Ljx9umIc94sQTqQCYPO-vJT0k8&libraries=drawing&callback=initMap"
		async defer></script>
<div>
	<a asp-action="Index">Back to List</a>
</div>
