﻿@model List<GeoMapping.Models.ViewModels.PlotViewModel>
@{
	ViewData["Title"] = "Index";
}
<h3>Plots Control</h3>
<hr />
<div class="row form-group">
	@using (Html.BeginForm("Create", "Plots", FormMethod.Get))
	{
		<div class="col-lg-2">
			<input type="submit" value="Define new Plot" class="btn btn-primary" />
		</div>
	}
	@using (Html.BeginForm("AssignToAgent", "Plots", FormMethod.Get))
	{
		<div class="col-lg-2">
			<input type="submit" value="Assign Plot To Agent" class="btn btn-primary" />
		</div>
	}
</div>
<div class="row">

	<div class="form-group">
		<div id="map" style="width:100%;height:60vh"></div>
	</div>
</div>
<script>
	var areas =  @Html.Raw(Json.Serialize(Model));
</script>
<script src="~/js/showPolygons.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnh4qB0Ljx9umIc94sQTqQCYPO-vJT0k8&libraries=drawing&callback=initMap"
		async defer></script>
