﻿@model IndexViewModel
@{
	ViewData["Title"] = "Profile";
	ViewData.AddActivePage(ManageNavPages.Index);
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
	<div class="col-md-6">
		<form method="post">
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Username"></label>
				<input asp-for="Username" class="form-control" disabled />
			</div>
			<div class="form-group">
				<label asp-for="Email"></label>
				@*@if (Model.IsEmailConfirmed)
					{*@
				<div class="input-group">
					<input asp-for="Email" class="form-control" disabled />
					<span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
				</div>
				@*}
					else
					{
						<input asp-for="Email" class="form-control" />
						<button asp-action="SendVerificationEmail" class="btn btn-link">Send verification email</button>
					}*@
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="PhoneNumber"></label>
				<input asp-for="PhoneNumber" class="form-control" disabled />
				<span asp-validation-for="PhoneNumber" class="text-danger"></span>
			</div>
			@*<button type="submit" class="btn btn-default">Save</button>*@
		</form>
	</div>
</div>

@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial")
}
