﻿@model GeoMapping.Models.Place
@{
	ViewData["Title"] = "Create";
}
<h2>Create</h2>
<h4>Place</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		@*<form asp-action="Create">*@
		<input type="text" name="vertices" value="" id="vertices" hidden />
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<label asp-for="Name" class="control-label"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="AreaId" class="control-label"></label>
			<select asp-for="AreaId" class="form-control" asp-items="ViewBag.AreaId"></select>
		</div>
		<div class="form-group">
			<label asp-for="PlotId" class="control-label"></label>
			<select asp-for="PlotId" class="form-control" asp-items="ViewBag.PlotId"></select>
		</div>
		<div class="form-group">
			<label asp-for="Point" class="control-label"></label>
			<div id="map" style="width:100vh;height:100vh"></div>
		</div>

		<div class="form-group">
			<input type="submit" value="Create" class="btn btn-primary" onclick="createPlace();" />
			<p class="text-danger" id="validationError" style="display:none;">Places name, plot and area are required!</p>
		</div>
		@*</form>*@
	</div>
</div>
<script src="~/js/createPoint.js"></script>
<script>
	function createPlace() {
		debugger;
		$("#validationError").css("display", "none");
		if ($('#vertices').val() == '' || $('#Name').val() == '' ) {
			$("#validationError").css("display", "block");
		} else {
			$.ajax({
				url: ENUMS.BaseURL +"Places/AddPlaces",
				type: "POST",
				data: {
					name: $('#Name').val(),
					places: $('#vertices').val(),
					areaId: $("#AreaId option:selected").val(),
					plotId: $("#PlotId option:selected").val()
				},
				success: function (result) {
					if (result) {
						var url = '@Url.Action("Index", "Places")';
						window.location.href = url;
					} else {
						console.log("False");
					}
				}, error: function (err) {
					console.log("Error Result");
					console.log(err);
				}
			});
		}
	}
</script>
<div>
	<a asp-action="Index">Back to List</a>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnh4qB0Ljx9umIc94sQTqQCYPO-vJT0k8&libraries=drawing&callback=initMap"
		async defer></script>