﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - GeoMapping</title>
	<environment include="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="~/css/site.css" />
	</environment>
	@*<environment exclude="Development">
			<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
				  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
				  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
			<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
		</environment>*@

</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" style="">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
				{
					<a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">GeoMapping</a>
				}
				else
				{
					<a asp-area="" asp-controller="Account" asp-action="Login" class="navbar-brand">GeoMapping</a>
				}
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					@if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
	{
				<li><a asp-area="" asp-controller="Areas" asp-action="Index">Areas</a></li>
				<li><a asp-area="" asp-controller="Plots" asp-action="Index">Plots</a></li>
				<li><a asp-area="" asp-controller="Status" asp-action="Index"> Statuses</a></li>
				<li><a asp-area="" asp-controller="Places" asp-action="Index">Places</a></li>
				<li><a asp-area="" asp-controller="Tracks" asp-action="Index"> Tracking-Monitor</a></li>
				<li><a asp-area="" asp-controller="Sections" asp-action="Index"> Sections</a></li>
				<li><a asp-area="" asp-controller="Status" asp-action="Index"> Statuses</a></li>
}
else
{
				<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
}
				</ul>
				@await Html.PartialAsync("_LoginPartial")
			</div>
		</div>
	</nav>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer class="event_desc">
			&copy; 2018 - Amanah Teknologia
		</footer>
	</div>
	<script src="~/js/enums.js"></script>
	<environment include="Development">
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</environment>
	<environment exclude="Development">
		<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
				asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
				asp-fallback-test="window.jQuery"
				crossorigin="anonymous"
				integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
		</script>
		<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
				asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
				crossorigin="anonymous"
				integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
		</script>
		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>

	@RenderSection("Scripts", required: false)
</body>
</html>
