﻿@model GeoMapping.Models.ViewModels.BlockViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create</h2>
<h4>Block</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input type="text" name="vertices" value="" id="vertices" hidden />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" id="blockName" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaName" class="control-label"> Area </label>
                <select asp-for="AreaId" id="areaId" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="PACIBlockId" class="control-label"> Block </label>
                <select asp-for="PACIBlockId" class="form-control" id="paciBlockId"></select>
            </div>
            <div class="form-group">
                <label class="control-label"> Area Polygon</label>
                <div id="map" style="width:100vh;height:100vh"></div>
            </div>
            <div class="form-group">
                <input type="button" value="Create" class="btn btn-primary" id="createBlokcBtn"/>
                <p class="text-danger" id="validationError" style="display:none;">Block name and polygon are required!</p>
                <p class="text-danger" id="outOfAreaError" style="display:none;">Drawn area is out of selected Area boundaries!</p>
            </div>
        </form>
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnh4qB0Ljx9umIc94sQTqQCYPO-vJT0k8&libraries=drawing&callback=initMap"
        async defer></script>
<script src="~/js/enums.js"></script>
<script src="~/js/createBlockPolygon.js"></script>
<script src="~/js/paciHelper.js"></script>

<script>
    $(function () {
        areas = [];
        getAreas();
        var blockAreas;
        var selectedArea;
        function getAreas() {
            $.ajax({
                url: ENUMS.BaseURL + "Areas/GetAll",
                type: "GET",
                success: function (result) {
                    blockAreas = result;
                    for (var i = 0; i < result.length; i++) {
                        $("#areaId").append($("<option/>").val(result[i].id).text(result[i].name));
                    }
                    drawPolygons([result[0]]);
                    getBlocksByAreaNo(result[0].areaNo);
                    selectedArea = result[0];
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        $("#areaId").change(function () {
            var selectedValue = $("#areaId option:selected").val();
            selectedArea = blockAreas.filter(a => a.id == selectedValue)[0];
            drawPolygons([selectedArea]);
            getBlocksByAreaNo(selectedArea.areaNo);
        });

        function getBlocksByAreaNo(areaNo) {
            $('#paciBlockId').empty();
            $('#paciBlockId').append($("<option/>").val(0).text("Draw New Block"));
            if (areaNo !== "0") {
                $.ajax({
                    url: "http://amanahadmin-001-site2.itempurl.com/proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/FeatureServer/1/query?where=nhood_no=" + areaNo + "&outFields=*&returnGeometry=false&f=geojson",
                    type: "GET",
                    success: function (result) {
                        var resultJson = JSON.parse(result);
                        for (var i = 0; i < resultJson.features.length; i++) {
                            $("#paciBlockId").append($("<option/>").val(resultJson.features[i].properties.blockid).text(resultJson.features[i].properties.blockenglish));
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }
        }

        $("#paciBlockId").change(function () {
            var selected = $("#paciBlockId option:selected").val();
            if (selected.toString() !== "0") {
                blockDrawingManager.setDrawingMode(null);
                drawSelectedBlock(selected);
            }
            else {
                blockDrawingManager = new google.maps.drawing.DrawingManager({
                    drawingMode: google.maps.drawing.OverlayType.POLYGON,
                    drawingControl: false,
                    polygonOptions: {
                        editable: true
                    }
                });
                blockDrawingManager.setMap(map);
                map.data.forEach(function (feature) {
                    map.data.remove(feature);
                });
                $("#blockName").val("");
                $("#blockName").prop('disabled', false);

            }
        });

        function savePaciBlock(blockFeature) {
            $("#blockName").val($("#paciBlockId option:selected").text());
            $("#blockName").prop('disabled', true);

            var block = new google.maps.Polygon({
                paths: getPathsFromGeojsonPolygon(blockFeature)
            });
            polygon = block.getPath().getArray();
            $('#vertices').val(getVerticiesFromPolygon(polygon));

        }

        function drawSelectedBlock(selectedVal) {
            map.data.forEach(function (feature) {
                map.data.remove(feature);
            });
            var blockFeature = null;
            $.ajax({
                url: "http://amanahadmin-001-site2.itempurl.com/proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/FeatureServer/1/query?where=blockid='" + selectedVal + "'&outFields=*&returnGeometry=true&f=geojson",
                type: "GET",
                success: function (result) {
                    var resultJson = JSON.parse(result);
                    var bounds = new google.maps.LatLngBounds();
                    map.data.addListener('addfeature', function (e) {
                        processPoints(e.feature.getGeometry(), bounds.extend, bounds);
                        map.fitBounds(bounds);
                    });
                    map.data.addGeoJson(resultJson);
                    map.data.setStyle({
                        strokeWeight: 1
                    });

                    map.data.forEach(function (feature) {
                        blockFeature = feature;
                    });
                    savePaciBlock(blockFeature);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function isDrawInBlock(vertices) {
            var result = false;
            var block = new google.maps.Polygon({
                paths: selectedArea.polygon
            });
            for (var i = 0; i < vertices.length; i++) {
                var point = new google.maps.LatLng(vertices[i].lat(), vertices[i].lng());
                result = google.maps.geometry.poly.containsLocation(point, block);
                if (!result) {
                    break;
                }
            }
            return result;
        }

        function createBlock() {
            $("#validationError").css("display", "none");
            if ($('#vertices').val() == '' || $('#areaName').val() == '') {
                $("#validationError").css("display", "block");
            }
            else if (!isDrawInBlock(polygon)) {
                $("#outOfAreaError").css("display", "block");
            }
            else {
                $.ajax({
				url: ENUMS.BaseURL + "Blocks/AddPolygon",
				//url: "https://localhost:44309/Areas/AddPolygon",
                type: "POST",
				data: {
                    name: $('#blockName').val(),
                    areaId: $('#areaId').val(),
                    polygon: $('#vertices').val(),
                    paciBlockId: $('#paciBlockId').val()
				},
				success: function (result) {
                    if (result)
                    {
                        var url = '@Url.Action("Index", "Blocks")';
						window.location.href = url;
						// create notification for success here.
                    }
                    else
                    {
						console.log("False");
					}
				}, error: function (err) {
					console.log("Error Result");
					console.log(err);
				}
            });

            }
        }

        $("#createBlokcBtn").click(function () {
            createBlock();
        });
    });
</script>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
