﻿@model IEnumerable<GeoMapping.Models.ViewModels.BlockViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Blocks Control</h3>
<hr />
<div class="form-group">
    @using (Html.BeginForm("Create", "Blocks", FormMethod.Get))
    {
        <input type="submit" value="Define new Block" class="btn btn-primary Create" style="display:none;" />
    }
</div>
<div class="form-group">
    <div id="map" style="width:100%;height:60vh"></div>
</div>
<script>
	var areas =  @Html.Raw(Json.Serialize(Model));
</script>

<script src="~/js/showPolygons.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnh4qB0Ljx9umIc94sQTqQCYPO-vJT0k8&libraries=drawing&callback=initMap"
        async defer></script>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PACIBlockId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PACIBlockId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AreaName)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                   <span style="display:none;" class="Delete"><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></span> 
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/ENUMS.js"></script>
<script src="~/js/RolePrivileges.js"></script>
<script>
    renderActions("Blocks");
</script>
