﻿@model Role
@{
    ViewData["Title"] = "EditPrivilegesView";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2>Edit Privileges</h2>
<h3>Role Name: @Html.DisplayFor(x => x.Name)</h3>

<input type="text" value="@Html.DisplayFor(x => x.Id)" id="roleId" hidden />
<table class="table">
    <thead>
        <tr>
            <th>
                Feature
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody id="tableBody"></tbody>
</table>
<div class="form-group">
    <input type="button" value="Save" id="btnSave" class="btn btn-default" />
</div>
<script src="~/js/ENUMS.js"></script>
<script>
    $(function () {
        var roleId = $("#roleId").val();

        getAllPrivs();

        function getAllPrivs() {
            $.ajax({
                url: ENUMS.BaseURL + "Privileges/GetAll",
                type: "GET",
                success: function (result) {
                    console.log(result);
                    renderTable(result);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function renderTable(privs) {
            var features = [];
            for (var j = 0; j < privs.length; j++) {
                var feat = privs[j].name.split('/')[0];
                features.push(feat);
            }
            features = features.filter(onlyUnique);
            for (var i = 0; i < features.length; i++) {
                $("#tableBody").append("<tr id='" + features[i] + "'><td><span>" + features[i] + "</span></td></tr>");
            }
            renderActions(privs, features);

        }

        function renderActions(privs, features) {
            for (var i = 0; i < features.length; i++) {
                $("#" + features[i]).append("<td id='" + features[i] + "Actions'></td>");
                var actions = privs.filter(x => x.name.startsWith(features[i]));
                for (var j = 0; j < actions.length; j++) {
                    var action = actions[j].name.split('/')[1];
                    $("#" + features[i] + "Actions").append("<label class='checkbox-inline'><input type='checkbox' id='" + actions[j].id + "' value='" + actions[j].id + "' />" + action + "</label>");
                }
            }
            checkSelectedActions();
        }

        function checkSelectedActions() {
            $.ajax({
                url: ENUMS.BaseURL + "RolePrivileges/GetByRoleId?roleId=" + $("#roleId").val(),
                type: "GET",
                success: function (result) {
                    rolePrivs = result;
                    for (var i = 0; i < rolePrivs.length; i++) {
                        $("#" + rolePrivs[i].id).prop('checked', true);
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function onlyUnique(value, index, self) {
            return self.indexOf(value) === index;
        }

        $("#btnSave").click(function () {
            var privIds = [];
            $('input[type=checkbox]').each(function () {
                var sThisVal = (this.checked ? $(this).val() : undefined);
                if (sThisVal) {
                    privIds.push(parseInt(sThisVal));
                }
            });
            console.log(privIds);
            $.ajax({
                url: ENUMS.BaseURL + "RolePrivileges/AddOrUpdate",
				type: "POST",
				data: {
                    roleId: $("#roleId").val(),
                    privIds: privIds
				},
				success: function (result) {
					if (result) {
						var url = '@Url.Action("Index", "Roles")';
						window.location.href = url;
                    }
                    else {
						console.log("False");
					}
                },
                error: function (err) {
					console.log("Error Result");
					console.log(err);
				}
			});
        });

    });
</script>