﻿@model List<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Index";
}

<h3>Roles</h3>

<p>
    <a asp-action="Create" class="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                   ID
                </th>
                <th>
                    Name
                </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Id)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
            <td>
                <span  class="Edit">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>

                </span>
                <span  class="EditPrivileges">
                    |
                    <a asp-action="EditPrivileges" asp-route-id="@item.Id">Edit Privileges</a>
                </span>
                
            </td>
		</tr>
}
    </tbody>
</table>
