﻿@model GeoMapping.Models.Area
@{
    ViewData["Title"] = "Create";
}
<h3>Define Area</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <input type="text" name="vertices" value="" id="vertices" hidden />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" id="areaName" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <label class="control-label"> Governorate </label>
                <select asp-for="GovObjectId" id="govId" class="form-control"></select>
                <span asp-validation-for="GovObjectId" class="text-danger"></span>
            </div>
            <div>
                <label class="control-label"> Area </label>
                <select asp-for="AreaNo" id="areaNo" class="form-control"></select>
                <span asp-validation-for="AreaNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Area Polygon</label>
                <div id="map" style="width:100vh;height:100vh"></div>
            </div>
            <div class="form-group">
                <input type="button" value="Create" class="btn btn-primary" onclick="createArea();" />
                <p class="text-danger" id="validationError" style="display:none;">Area name and polygon are required!</p>
                <p class="text-danger" id="outOfGovError" style="display:none;">Drawn area is out of selected governorate boundaries!</p>

            </div>
        </form>
    </div>
</div>
<script src="~/js/enums.js"></script>
<script src="~/js/paciHelper.js"></script>
<script src="~/js/createAreaPolygon.js"></script>
<script>
    var isDraw = false;
    var selectedGov;
    var areaFeature;
	function createArea() {
		//debugger;
		$("#validationError").css("display", "none");
        if ($('#vertices').val() == '' || $('#areaName').val() == '')
        {
			$("#validationError").css("display", "block");
        }
        else if (!isDrawInGov(polygon))
        {
            $("#outOfGovError").css("display", "block");
            debugger;
        }
        else
        {
			$.ajax({
				url: ENUMS.BaseURL + "Areas/AddPolygon",
				//url: "https://localhost:44309/Areas/AddPolygon",
				type: "POST",
				data: {
                    name: $('#areaName').val(),
                    govObjectId: $('#govId').val(),
                    polygon: $('#vertices').val(),
                    areaNo: $('#areaNo').val()
				},
				success: function (result) {
                    if (result)
                    {
                        var url = '@Url.Action("Index", "Areas")';
						window.location.href = url;
						// create notification for success here.
                    }
                    else
                    {
						console.log("False");
					}
				}, error: function (err) {
					console.log("Error Result");
					console.log(err);
				}
            });

        }
    }

    function isDrawInGov(vertices) {
        var result = false;
        //var govFeature;
        //map.data.forEach(function (feature) {
        //    govFeature = feature;
        //});
        var gov = new google.maps.Polygon({
            paths: getPathsFromGeojsonPolygon(selectedGov)
        });
        for (var i = 0; i < vertices.length; i++) {
            var point = new google.maps.LatLng(vertices[i].lat(), vertices[i].lng());
            result = google.maps.geometry.poly.containsLocation(point, gov);
            if (!result) {
                break;
            }
        }
        return result;
    }

    //function getPathsFromGeojsonPolygon(feature)
    //{
    //    var arr = feature.getGeometry().getArray();
    //    if (arr.length > 1)
    //    {
    //        var paths = [];
    //        for (var i = 0; i < arr.length; i++) {
    //            if (feature.getGeometry().getArray()[i].b[0].b) {
    //                paths.push(feature.getGeometry().getArray()[i].b[0].b);
    //            }
    //            else {
    //                paths.push(feature.getGeometry().getArray()[i].b);
    //            }
    //        }
    //        return paths;
    //    }
    //    else
    //    {
    //        return feature.getGeometry().getArray()[0].b;
    //    }
    //}


    $(function () {
        function getGovIds() {
            $.ajax({
                url: "http://amanahadmin-001-site2.itempurl.com/proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/FeatureServer/3/query?where=1%3D1&outFields=*&returnGeometry=false&f=geojson",
                type: "GET",
                success: function (result) {
                    var resultJson= JSON.parse(result);
                    for (var i = 0; i < resultJson.features.length; i++) {
                        $("#govId").append($("<option/>").val(resultJson.features[i].properties.gov_no).text(resultJson.features[i].properties.governorateenglish));
                    }
                    drawSelectedGov(1);
                    getAreasByGovNo(1);
                    console.log(resultJson);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        getGovIds();

        $("#govId").change(function () {
            var selected = $("#govId option:selected").val();
            drawSelectedGov(selected);
            getAreasByGovNo(selected);
        });

        function drawSelectedGov(selectedVal) {
            map.data.forEach(function (feature) {
                map.data.remove(feature);
            });
            $.ajax({
                url: "http://amanahadmin-001-site2.itempurl.com/proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/FeatureServer/3/query?where=gov_no=" + selectedVal + "&outFields=*&returnGeometry=true&f=geojson",
                type: "GET",
                success: function (result) {
                    var resultJson = JSON.parse(result);
                    var bounds = new google.maps.LatLngBounds();
                    map.data.addListener('addfeature', function (e) {
                        processPoints(e.feature.getGeometry(), bounds.extend, bounds);
                        map.fitBounds(bounds);
                    });
                    map.data.addGeoJson(resultJson);
                    map.data.forEach(function (feature) {
                        selectedGov = feature;
                    });
                    map.data.setStyle({
                        strokeWeight: 1
                    });
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        //function processPoints(geometry, callback, thisArg) {
        //    if (geometry instanceof google.maps.LatLng)
        //    {
        //        callback.call(thisArg, geometry);
        //    }
        //    else if (geometry instanceof google.maps.Data.Point)
        //    {
        //        callback.call(thisArg, geometry.get());
        //    }
        //    else
        //    {
        //        geometry.getArray().forEach(function (g) {
        //            processPoints(g, callback, thisArg);
        //        });
        //    }
        //}

        function getAreasByGovNo(govNo)
        {
            $('#areaNo').empty();
            $('#areaNo').append($("<option/>").val(0).text("Draw New Area"));
            $.ajax({
                url: "http://amanahadmin-001-site2.itempurl.com/proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/FeatureServer/2/query?where=gov_no=" + govNo + "&outFields=*&returnGeometry=false&f=geojson",
                type: "GET",
                success: function (result) {
                    var resultJson = JSON.parse(result);
                    for (var i = 0; i < resultJson.features.length; i++) {
                        $("#areaNo").append($("<option/>").val(resultJson.features[i].properties.nhood_no).text(resultJson.features[i].properties.neighborhoodenglish));
                    }
                    console.log(resultJson);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        $("#areaNo").change(function () {
            var selected = $("#areaNo option:selected").val();
            if (selected.toString() !== "0")
            {
                areaDrawingManager.setDrawingMode(null);
                drawSelectedArea(selected);                
            }
            else
            {
                areaDrawingManager = new google.maps.drawing.DrawingManager({
                    drawingMode: google.maps.drawing.OverlayType.POLYGON,
                    drawingControl: false,
                    polygonOptions: {
                        editable: true
                    }
                });
                areaDrawingManager.setMap(map);
                map.data.forEach(function (feature) {
                    map.data.remove(feature);
                });
                $("#areaName").val("");
                $("#areaName").prop('disabled', false);
            }
        });

        function savePaciArea() {
            $("#areaName").val($("#areaNo option:selected").text());
            $("#areaName").prop('disabled', true);

            var area = new google.maps.Polygon({
                paths: getPathsFromGeojsonPolygon(areaFeature)
            });
            polygon = area.getPath().getArray();
            $('#vertices').val(getVerticiesFromPolygon(polygon));

        }

        function drawSelectedArea(selectedVal)
        {
            map.data.forEach(function (feature) {
                map.data.remove(feature);
            });
            areaFeature = null;
            $.ajax({
                url: "http://amanahadmin-001-site2.itempurl.com/proxy.ashx?https://kuwaitportal.paci.gov.kw/arcgisportal/rest/services/PACIAddressSearch/FeatureServer/2/query?where=nhood_no=" + selectedVal + "&outFields=*&returnGeometry=true&f=geojson",
                type: "GET",
                success: function (result) {
                    var resultJson = JSON.parse(result);
                    var bounds = new google.maps.LatLngBounds();
                    map.data.addListener('addfeature', function (e) {
                        processPoints(e.feature.getGeometry(), bounds.extend, bounds);
                        map.fitBounds(bounds);
                    });
                    map.data.addGeoJson(resultJson);
                    map.data.setStyle({
                        strokeWeight: 1
                    });
                    
                    map.data.forEach(function (feature) {
                        areaFeature = feature;
                    });
                    savePaciArea();
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    });
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnh4qB0Ljx9umIc94sQTqQCYPO-vJT0k8&libraries=drawing&callback=initMap"
        async defer></script>

<div>
    <a asp-action="Index">Back to List</a>
</div>