﻿
@{
    ViewData["Title"] = "AddFromFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Add or Update Plots From Excel File</h2>
<hr />
<div class="">
    <div class="row">
        <form method="post" enctype="multipart/form-data" asp-controller="Plots" asp-action="AddFromFile">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload excel file using this form:</p>
                    <input type="file" name="file" id="fUpload" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload" id="btnUpload" />
                </div>
            </div>
        </form>
    </div>
</div>
        <script src="~/js/ENUMS.js"></script>

        <script>
            $(function () {
                $('#btnUpload').on('click', function () {
                    var fileExtension = ['xls', 'xlsx'];
                    var filename = $('#fUpload').val();
                    if (filename.length == 0) {
                        alert("Please select a file.");
                        return false;
                    }
                    else {
                        var extension = filename.replace(/^.*\./, '');
                        if ($.inArray(extension, fileExtension) == -1) {
                            alert("Please select only excel files.");
                            return false;
                        }
                    }
                    var fdata = new FormData();
                    var fileUpload = $("#fUpload").get(0);
                    var files = fileUpload.files;
                    fdata.append(files[0].name, files[0]);
                    //$.ajax({
                    //    type: "POST",
                    //    url: "/ImportExport?handler=Import",
                    //    beforeSend: function (xhr) {
                    //        xhr.setRequestHeader("XSRF-TOKEN",
                    //            $('input:hidden[name="__RequestVerificationToken"]').val());
                    //    },
                    //    data: fdata,
                    //    contentType: false,
                    //    processData: false,
                    //    success: function (response) {
                    //        if (response.length == 0)
                    //            alert('Some error occured while uploading');
                    //        else {
                    //            $('#dvData').html(response);
                    //        }
                    //    },
                    //    error: function (e) {
                    //        $('#dvData').html(e.responseText);
                    //    }
                    //});
                })
            });
        </script>
