﻿@model GeoMapping.Models.ViewModels.AssignPlotViewModel
@{
	ViewData["Title"] = "AssignToAgent";
}
<h3>Assign Plot To Agent</h3>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="AssignToAgent">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="AgentId" class="control-label"></label>
				<select asp-for="AgentId" class="form-control" asp-items="ViewBag.AgentId"></select>
			</div>
			<div class="form-group">
				<label asp-for="PlotId" class="control-label"></label>
				<select asp-for="PlotId" class="form-control" asp-items="ViewBag.PlotId"></select>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to Plots</a>
</div>