﻿@model GeoMapping.Models.Plot
@{
    ViewData["Title"] = "Create";
}
<h3>Define Plot</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <input type="text" name="vertices" value="" id="vertices" hidden />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" id="plotName" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Plot Type</label>
                <select class="form-control" id="PlotTypeId"></select>
            </div>

            <div class="form-group">
                <label asp-for="BlockId" class="control-label"></label>
                <select asp-for="BlockId" class="form-control" asp-items="ViewBag.BlockId" onchange="BlockChanged()"></select>
            </div>
            <div class="form-group">
                <label asp-for="PAHW_NO" class="control-label"></label>
                <input asp-for="PAHW_NO" class="form-control" />
                <span asp-validation-for="PAHW_NO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LicenseNumber" class="control-label"></label>
                <input asp-for="LicenseNumber" class="form-control" />
                <span asp-validation-for="LicenseNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="OwnerName" class="control-label"></label>
                <input asp-for="OwnerName" class="form-control" />
                <span asp-validation-for="OwnerName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LicenseType" class="control-label">License Type</label>
                <input asp-for="LicenseType" class="form-control" />
                <span asp-validation-for="LicenseType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Plot Polygon</label>
                <p class="text-danger" id="polyError" style="display:none;">Plot should be inside the selected area!</p>
                <div id="map" style="width:100vh;height:100vh"></div>
            </div>
            <div class="form-group">
                <input type="button" value="Create" class="btn btn-primary" onclick="createPlot();" />
                <p class="text-danger" id="validationError" style="display:none;">Plot name, polygon and block are required!</p>
            </div>
        </form>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/enums.js"></script>
<script src="~/js/createPolygon.js"></script>
<script src="~/js/addPloygonToMap.js"></script>
<script>
    $(function () {
        GetPlotTypes();
        function GetPlotTypes() {
            $.ajax({
                url: ENUMS.BaseURL + "Plots/GetPlotTypes",
                type: "GET",
                success: function (result) {
                    for (var i = 0; i < result.length; i++) {
                        for (var i = 0; i < result.length; i++) {
                            $("#PlotTypeId").append($("<option/>").val(result[i].id).text(result[i].name));
                        }
                    }

                },
                error: function (err) {
                    console.log(err);
                }
            });

        }
    });

	function createPlot() {
		console.log({
			name: $('#plotName').val(),
			polygon: $('#vertices').val(),
			//paciNo: $('#PACI_NO').val(),
			pahwNo: $('#PAHW_NO').val(),
            blockId: $("#BlockId option:selected").val(),
            plotTypeId: $("#PlotTypeId option:selected").val(),
            address: $('#Address').val(),
            licenseNumber: $('#LicenseNumber').val(),
            licenseType: $('#LicenseType').val(),
            ownerName: $('#OwnerName').val()
		});
		$("#polyError").css("display", "none");
		var allowedPolygon = checkPolygonIsIn(polygonArray);
		if (allowedPolygon == true) {
		$("#validationError").css("display", "none");
		if ($('#vertices').val() == '' || $('#plotName').val() == '') {
			$("#validationError").css("display", "block");
		} else {
			$.ajax({
				url: ENUMS.BaseURL + "Plots/AddPolygon",
				type: "POST",
				data: {
					name: $('#plotName').val(),
					polygon: $('#vertices').val(),
					//paciNo: $('#PACI_NO').val(),
                    blockId: $("#BlockId option:selected").val(),
                    pahwNo: $('#PAHW_NO').val(),
                    plotTypeId: $("#PlotTypeId option:selected").val(),
                    address: $('#Address').val(),
                    licenseNumber: $('#LicenseNumber').val(),
                    licenseType: $('#LicenseType').val(),
                    ownerName: $('#OwnerName').val()
				},
				success: function (result) {
					if (result) {
						var url = '@Url.Action("Index", "Plots")';
						window.location.href = url;
					} else {
						console.log("False");
					}
				}, error: function (err) {
					console.log("Error Result");
					console.log(err);
				}
			});
		}
	}
	}

    var selectedBlock = $("#BlockId option:selected").val();
    CallBlock(selectedBlock);

	function BlockChanged() {
        selectedBlock = $("#BlockId option:selected").val();
        var block = CallBlock(selectedBlock);

    }


    function CallBlock(blockId) {
		$.ajax({
            url: ENUMS.BaseURL + "Blocks/GetBlockById/" + blockId,
			type: "Get",
			success: function (result) {
				if (result) {
					addToMap(result.polygon);
				} else {
					console.log("False");
				}
			}, error: function (err) {
				console.log("Error Result");
				console.log(err);
			}
		});
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnh4qB0Ljx9umIc94sQTqQCYPO-vJT0k8&libraries=geometry,drawing&callback=initMap"
        async defer></script>
<div>
    <a asp-action="Index">Back to List</a>
</div>
