﻿@model GeoMapping.Models.Plot

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Plot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LicenseNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LicenseNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LicenseType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LicenseType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OwnerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OwnerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PAHW_NO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PAHW_NO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlotKey)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlotKey)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
