﻿@model IEnumerable<GeoMapping.Models.ViewModels.PlotViewModel>
@{
    ViewData["Title"] = "Index";
}
<h3>Plots Control</h3>
<hr />
<div class="row form-group">
    @using (Html.BeginForm("Create", "Plots", FormMethod.Get))
    {
        <div class="col-lg-2">
            <input type="submit" value="Define new Plot" class="btn btn-primary Create" style="display:none;"/>
        </div>
    }
    @using (Html.BeginForm("AssignToAgent", "Plots", FormMethod.Get))
    {
        <div class="col-lg-2">
            <input type="submit" value="Assign Plot To Agent" class="btn btn-primary CreateFromFile" style="display:none;"/>
        </div>
    }
    @using (Html.BeginForm("AddFromFile", "Plots", FormMethod.Get))
    {
        <div class="col-lg-2">
            <input type="submit" value="Add or Update Plots From Excel File" class="btn btn-primary AssignToAgent" style="display:none;"/>
        </div>
    }
</div>
<div class="row">

    <div class="form-group">
        <div id="map" style="width:100%;height:60vh"></div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PahwNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlotKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlockName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlotTypeName)
            </th>
            <th>
                Actions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PahwNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LicenseType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LicenseNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlotKey)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BlockName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlotTypeName)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                   <span style="display:none;" class="Delete"><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></span> 
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
	var areas =  @Html.Raw(Json.Serialize(Model));
</script>
<script src="~/js/showPolygons.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnh4qB0Ljx9umIc94sQTqQCYPO-vJT0k8&libraries=drawing&callback=initMap"
        async defer></script>

<script src="~/js/ENUMS.js"></script>
<script src="~/js/RolePrivileges.js"></script>
<script>
    renderActions("Plots");
</script>