﻿@model List<GeoMapping.Models.ViewModels.TrackingViewModel>
@{
	ViewData["Title"] = "Index";
}

<h3>Agents Tracking Monitor</h3>
<hr />

<div class="form-group">
	<div id="map" style="width:100%;height:60vh"></div>
</div>
<script>
	var locations =  @Html.Raw(Json.Serialize(Model));
	console.log(locations);
</script>
<script src="~/js/drawTracking.js"></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnh4qB0Ljx9umIc94sQTqQCYPO-vJT0k8&callback=initMap">
</script>