﻿@model List<GeoMapping.Models.ViewModels.UserViewModel>
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>
<p>
    <a asp-action="RegisterUser" asp-controller="Account" style="display:none;" class="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                User Name
            </th>
            <th>
                Phone No.
            </th>
            <th>
                Email
            </th>
            <th>
                Role
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    <span style="display:none;" class="ResetPassword">
                        <a asp-action="ResetPassword" asp-controller="Account" asp-route-id="@item.Id">Reset Password</a>
                    </span>
                    <span style="display:none;" class="Edit">
                        |
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </span>
                    <span style="display:none;" class="Details">
                        |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </span>
                    <span style="display:none;" class="Delete">
                        |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/ENUMS.js"></script>
<script src="~/js/RolePrivileges.js"></script>
<script>
    renderActions("Users");
</script>
