﻿@model GeoMapping.Models.Area
@{
	ViewData["Title"] = "Create";
}
<h3>Define Area</h3>
<hr />
<div class="row">
	<div class="col-md-4">
		<input type="text" name="vertices" value="" id="vertices" hidden />
		@*<form asp-action="Create">*@
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<label asp-for="Name" class="control-label"></label>
			<input asp-for="Name" id="areaName" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label class="control-label"> Area Polygon</label>
			<div id="map" style="width:100vh;height:100vh"></div>
		</div>
		<div class="form-group">
			<input type="submit" value="Create" class="btn btn-primary" onclick="createArea();" />
			<p class="text-danger" id="validationError" style="display:none;">Area name and polygon are required!</p>
		</div>
		@*</form>*@
	</div>
</div>
<script src="~/js/createPolygon.js"></script>
<script>
	var isDraw = false;

	function createArea() {
		debugger;
		$("#validationError").css("display", "none");
		if ($('#vertices').val()== '' || $('#areaName').val() == '' ) {
			$("#validationError").css("display", "block");
		} else {
			var areaModel = {
				name: $('#areaName').val(),
				polygon: $('#vertices').val()
			};
			console.log(areaModel);
			//var data = JSON.stringify(areaModel);
			$.ajax({
				//contentType: 'application/json; charset=utf-8',
				//url: ENUMS.BaseURL + "Areas/Create",
				url: "https://localhost:44309/Areas/AddPolygon",
				type: "POST",
				data: {
					name: $('#areaName').val(),
					polygon: $('#vertices').val()
				},
				success: function (result) {
					if (result) {
						var url = '@Url.Action("Index", "Areas")';
						window.location.href = url;
						// create notification for success here.
					} else {
						console.log("False");
					}
				}, error: function (err) {
					console.log("Error Result");
					console.log(err);
				}
			});
		}
	}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnh4qB0Ljx9umIc94sQTqQCYPO-vJT0k8&libraries=drawing&callback=initMap"
		async defer></script>

<div>
	<a asp-action="Index">Back to List</a>
</div>