﻿@model List<GeoMapping.Models.ViewModels.AreaViewModel>
@{
	ViewData["Title"] = "Index";
}
<h3>Areas Control</h3>
<hr />
<div class="form-group">
	@using (Html.BeginForm("Create", "Areas", FormMethod.Get))
	{
		<input type="submit" value="Define new Area" class="btn btn-primary" />
	}
</div>
<div class="form-group">
	<div id="map" style="width:100%;height:60vh"></div>
</div>
<script>
	var areas =  @Html.Raw(Json.Serialize(Model));
</script>
<script src="~/js/showPolygons.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnh4qB0Ljx9umIc94sQTqQCYPO-vJT0k8&libraries=drawing&callback=initMap"
		async defer></script>
