﻿@*@model GeoMapping.Models.SurveyHistory

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>SurveyHistory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PlaceId" class="control-label"></label>
                <select asp-for="PlaceId" class="form-control" asp-items="ViewBag.PlaceId"></select>
                <span asp-validation-for="PlaceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubStatusId" class="control-label"></label>
                <select asp-for="SubStatusId" class="form-control" asp-items="ViewBag.SubStatusId"></select>
                <span asp-validation-for="SubStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsGhanim" /> @Html.DisplayNameFor(model => model.IsGhanim)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CompetitorId" class="control-label"></label>
                <select asp-for="CompetitorId" class="form-control" asp-items="ViewBag.CompetitorId"></select>
                <span asp-validation-for="CompetitorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

